<app-nav-bar></app-nav-bar>

<div class="container mt-5">
  <h2 class="text-center">Profil utilisateur</h2>

  <div class="card p-4 shadow-sm mt-4 text-center">
    <form (ngSubmit)="saveProfile()" class="d-flex flex-column gap-3">

      <input class="form-control" type="text" [(ngModel)]="userUpdate.name" name="name" placeholder="Nom" required />
      <div *ngIf="fieldErrors['name']" class="text-danger small">{{ fieldErrors['name'] }}</div>

      <input class="form-control" type="email" [(ngModel)]="userUpdate.email" name="email" placeholder="Email" required />
      <div *ngIf="fieldErrors['email']" class="text-danger small">{{ fieldErrors['email'] }}</div>

      <input class="form-control" type="password" [(ngModel)]="userUpdate.password" name="password" placeholder="Mot de passe (laisser vide pour ne pas changer)" />
      <div *ngIf="fieldErrors['password']" class="text-danger small">{{ fieldErrors['password'] }}</div>

      <button class="btn purple w-auto px-4 mx-auto mt-2 d-block" type="submit" [disabled]="isUpdating">
        Sauvegarder
      </button>
    </form>
  </div>

  <button class="btn btn-danger w-auto px-4 mx-auto mt-2 d-block" type="button" (click)="logout()">
    Déconnexion
  </button>

  <hr />

  <h3 class="text-center">Abonnements</h3>
  <div class="row g-4 mt-3">
    <div *ngFor="let topic of userProfile?.subscriptions" class="col-12 col-md-6">
      <div class="card shadow-sm p-3 text-center">
        <div class="card-body">
          <h4 class="card-title">{{ topic.name }}</h4>
          <p class="card-text text-muted">{{ topic.description }}</p>

          <button class="btn purple" (click)="unsubscribe(topic.id)">
            Se désabonner
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
