<app-nav-bar></app-nav-bar>
<div class="container d-flex flex-column align-items-center justify-content-center mt-5 text-center">
  <!-- Bouton retour -->
  <div class="w-100 d-flex justify-content-start">
    <button class="btn" (click)="goBack()">
      <h1>←</h1>
    </button>
  </div>

  <!-- Formulaire -->
  <div class="w-100" style="max-width: 350px;">
    <h1 class="mb-3">Inscription</h1>

    <!-- Affichage du message d'erreur -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <form (submit)="onSubmit()">
      <div class="mb-3 text-start">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="registerRequest.email" name="email" required>
      </div>
      <div class="mb-3 text-start">
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="registerRequest.password" name="password" required>
      </div>
      <div class="mb-3 text-start">
        <label for="name" class="form-label">Nom</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="registerRequest.name" name="name" required>
      </div>
      <button type="submit" class="btn purple w-50 text-white">S'inscrire</button>
    </form>
  </div>
</div>
